.projects-outer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}

@media only screen and (max-width:850px)
{
    .projects-outer-container{
        grid-template-columns: 1fr;
    }
}



@media only screen and (min-width:851px) and ( max-width:1200px){
    .projects-outer-container{
        column-gap: 0;
        grid-template-columns: 1fr 1fr;
    }
}